html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #b7bbbf;
  background-color: #202125;
}

.body-content a {
  text-decoration: none;
  color: inherit;
}
.body-content a:hover {
  text-decoration: underline;
}
.body-content {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 100%;
  width: 100%;
}

.body-content > .page-content .button-wrapper {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  /* border: 1px solid white; */
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  margin-top: 15px;
}

.body-content > .page-content .button-wrapper button {
  border: none;
  border-radius: 4px;
  background-color: #303134;
  min-width: 145px;
  height: 36px;
  color: white;
  padding: 0 15px;
  margin: 5px;
}
.body-content > .page-content .button-wrapper button:hover {
  border: solid 1px #5f6368;
  cursor: pointer;
}

.search-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body-content > .page-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.links-wrapper a {
  padding: 10px 10px;
}

.links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 0 10px;
}

.search-form-wrapper {
  width: 100%;
}
.search-form-wrapper > .logo-wrapper {
  font-family: "Google Sans", "sans-serif";
  color: white;
  font-size: 6.5rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.search-form-wrapper > .logo-wrapper a:hover {
  text-decoration: none;
}

.search-form-wrapper > .sub-text-wrapper {
  margin-top: 15px;

  font-size: 0.85rem;
}
.search-form-wrapper > .sub-text-wrapper a {
  color: #8ab4f8;
  font-size: 0.85rem;
}

.search-form-wrapper > .search-bar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  left: 30px;
}
.search-form-wrapper > .search-bar-wrapper input {
  width: 600px;
  border-radius: 30px;
  height: 40px;
  background-color: inherit;
  border: solid 1px #5f6368;
  color: white;
  text-indent: 40px;
}

.search-form-wrapper > .search-bar-wrapper input:focus,
.search-form-wrapper > .search-bar-wrapper input:hover {
  border: solid 1px #5f6368;
  background-color: #5f6368;
  outline: none;
}

.search-form-wrapper > .search-bar-wrapper .search-icons-wrapper i {
  padding: 0 10px;
  /* margin: 0; */
}

.search-form-wrapper > .search-bar-wrapper .search-icons-wrapper {
  position: relative;
  right: 75px;
  display: flex;
}
.search-form-wrapper > .search-bar-wrapper .search-icon {
  color: #5f6368;
  position: relative;
  left: 35px;
  /* margin: 0; */
}
